<app-navbar (nameCharacterSearch)="searchCharacter($event)" />
<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="200" [infiniteScrollDisabled]="infinityScrollDisabled" (scrolled)="onScroll()">
    <div class="row d-flex justify-content-center align-items-center" >
        <div *ngFor="let char of characterList " class="col-md-3 mt-5 "> <!-- col-xl-3 col-sm-6 col-sx-12 -->
            <div class="card border-black">
                <img src="{{char.image}}">
                <div class="card-body">
                    <button class="btn btn-sm float-end" [ngClass]="{'btn-success': char.status.includes('Alive'), 
                            'btn-danger': !char.status.includes('Alive')}" disabled>{{char.status}}</button>
                    <h5 class="card-title">{{char.name}}</h5>
                    <p class="card-text">Gender: {{char.gender}}</p>
                    <hr>
                    <button class="btn btn-primary btn-sm float-end" (click)="details(char.id)">details</button>
                    <p class="card-text ">Species: {{char.species}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
