<app-navbar (nameCharacterSearch)="searchCharacter($event)"/>
<div class="container d-flex justify-content-center">
    <!-- <div class="mt-4 w-50 ms-2"> -->
        <!-- <input type="text" class="form-control border-black" placeholder="Search someone" />  -->
        <!-- (input)="searchCharacter($event)   -->
    <!-- </div> -->
     @if (search.length > 0) {
        <div class="card-group">
            <div *ngFor="let char of characterList " class="col-md-3 mt-5">
                <div class="row">
                    <div class="card border-black" style="width: 85%;">
                        <img src="{{char.image}}" class="mt-2 border-black" alt="...">
                        <div class="card-body">
                            <button class="btn btn-sm float-end" [ngClass]="{'btn-success': char.status.includes('Alive'), 
                            'btn-danger': !char.status.includes('Alive')}" disabled >{{char.status}}</button>
                            <h5 class="card-title">{{char.name}} {{char.id}}</h5>
                            <p class="card-text">Gender: {{char.gender}}</p>
                            <hr>
                            <button href="" class="btn btn-primary btn-sm float-end" routerLink="/details/:{{char.id}}">details</button>
                            <p class="card-text ">Species: {{char.species}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
     @else {
        <div class="card-group" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
            <div *ngFor="let char of characterList " class="col-md-3 mt-5">
                <div class="row">
                    <div class="card border-black" style="width: 85%;">
                        <img src="{{char.image}}" class="mt-2 border-black" alt="...">
                        <div class="card-body">
                            <button class="btn btn-sm float-end" [ngClass]="{'btn-success': char.status.includes('Alive'), 
                            'btn-danger': !char.status.includes('Alive')}" disabled >{{char.status}}</button>
                            <h5 class="card-title">{{char.name}} {{char.id}}</h5>
                            <p class="card-text">Gender: {{char.gender}}</p>
                            <hr>
                            <button href="" class="btn btn-primary btn-sm float-end" routerLink="/details/:{{char.id}}">details</button>
                            <p class="card-text ">Species: {{char.species}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
    
</div>